/*===============================Commun===============================*/
html * {
  box-sizing: border-box;
}
:root {
  --C_Background: #0099db;
  --CD_Background: #007bb0;
  --B_Background: #fff;
}
body {
  margin: 0;
  background-color: var(--C_Background);
}
/*===============================Login===============================*/
h1 {
  font-size: 2em;
}
.login,
.inscription {
  background-color: var(--B_Background);
  width: 30vw;
  margin: 0 auto;
  padding: 2em;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10%;
  bottom: 90%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.55);
}
.login form,
.inscription form,
.login form div label,
.inscription form div label {
  width: 100%;
}
.login form,
.inscription form {
  text-align: center;
}
.login form div label,
.inscription form div label {
  height: 2em;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: bolder;
}
.login form div input,
.inscription form div input {
  display: block;
  width: 80%;
  height: 2em;
  font-size: larger;
  margin: 0 auto;
}
.login form div input[type="submit"],
.inscription form div input[type="submit"] {
  background-color: var(--C_Background);
  color: white;
  border: none;
  margin-top: 1.5em;
  cursor: pointer;
}
.login form div input[type="submit"]:hover,
.inscription form div input[type="submit"]:hover {
  background-color: var(--CD_Background);
}
.validation,
.matches {
  display: none;
}
.toggleForm {
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: red;
}
/*===============================Chat===============================*/
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /*===============================Login===============================*/
  .login,
  .inscription {
    width: 50vw;
  }
}
@media screen and (max-width: 800px) {
  /*===============================Login===============================*/
  .login,
  .inscription {
    width: 100vw;
  }
}
